/* CSS Document */

div#lineup_wrapper{
	width: 900px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px!important;
	padding-bottom: 20px;
	padding-left: 0px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


div#lineup_wrapper div#lineup_sidenavi{
	width:220px;
	float:left;
}


div#lineup_wrapper div#lineup_contents{
	width: 655px;
	float: right;
}





div#lineup_sidenavi ul.menu li{
	width:220px;
	height:52px;
	display:block;
	position:relative;
}

* html div#lineup_sidenavi ul.menu li{/*for IE6 <li>の下に空きが出来るため、display:inlineを設定*/
	display:inline;
}

*:first-child+html div#lineup_sidenavi ul.menu li{/*for IE7*/
	display:inline;
}



div#lineup_sidenavi ul.menu li a{
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
	position:relative;
}




div#lineup_sidenavi ul.sub{
	position:absolute;
	left:220px;
	top:-52px;
	width:270px;
	background:url(../images/popup_bg.png) left bottom no-repeat;
	display:none;
}

* html div#lineup_sidenavi ul.sub{/*for IE6*/
	position:absolute;
	top:0px;
}


*:first-child+html div#lineup_sidenavi ul.sub{/*for IE7*/
	position:absolute;
	top:0px;
}


head~/* */body div#lineup_sidenavi ul.sub{/*for IE8*/
	position:absolute;
	top:0px;
}


div#lineup_sidenavi ul.sub li{
	height:1.4em;
	padding-left:20px;
	font-weight:bold;
	display:block;
}


div#lineup_sidenavi ul.sub li a{
	display:inline !important;
	height:1em;
	padding-left:25px;
	font-weight:normal;
	font-size:90%;
	background:url(../images/arrow_off.gif) 12px center no-repeat;
	color:#666666;
}

div#lineup_sidenavi ul.sub li a:hover{
	color:#0000FF;
	background:url(../images/arrow_on.gif) 12px center no-repeat;
}

div#lineup_sidenavi ul.sub li a.self{
	color:#0000FF;
	font-weight:bold;
	background:url(../images/arrow_on.gif) 12px center no-repeat;
}

div#lineup_sidenavi ul.sub li.firstChild{
	background:url(../images/popup_top.png) left top no-repeat;
	padding-top:15px !important;
}

div#lineup_sidenavi ul.sub li.carname{
	padding-top:5px;
	width: 270px;
}

div#lineup_sidenavi ul.sub li.lastChild{
	padding-bottom:20px;
}


/*ディーラーオプションナビ*/
div#lineup_sidenavi ul.dealeroption_navi{
	background:url(../images/sidenavi_do_bg.gif) left top no-repeat;
	padding:15px 0 15px 15px;
}

div#lineup_sidenavi ul.dealeroption_navi li a{
	padding-left:25px;
	background:url(../images/arrow_off.gif) 12px center no-repeat;
	text-decoration:none;
	color:#666666;
}

div#lineup_sidenavi ul.dealeroption_navi li a:hover{
	color:#0000FF;
	background:url(../images/arrow_on.gif) 12px center no-repeat;
}

div#lineup_sidenavi ul.dealeroption_navi li a.self{
	color:#0000FF;
	font-weight:bold;
	background:url(../images/arrow_on.gif) 12px center no-repeat;
}


/*バナーエリア*/
div#lineup_sidenavi div.bnr_area{
	width:218px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}


* html div#lineup_sidenavi div.bnr_area{/*for IE6*/
	width:220px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

*:first-child+html div#lineup_sidenavi div.bnr_area{/*for IE7*/
	width:220px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

*:first-child+html div#lineup_sidenavi div.bnr_area{/*for IE7*/
	width:220px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}






.tbl01 {
	border-collapse:collapse;
	border: 2px solid #ffffff;
}
.tbl01 td {
	border: 2px solid #ffffff;
	padding:3px;
}
.tbl01 th {
	border: 2px solid #ffffff;
	padding:3px;
}




#lineup_contents #lcw {
	margin: 0px;
	background-image: url(../images/line_s.gif);
	background-repeat: repeat-y;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#lineup_contents #lcw p {
	margin: 0px;
	padding: 0px;
}

#lineup_contents #lcw .box_icon {
	margin: 0px;
	padding: 0px;
}
#lineup_contents #lcw .box_icon .catei {
	margin: 0px;
	padding: 0px;
	float: left;
}
#lineup_contents #lcw .box_icon .l {
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#lineup_contents #lcw .box_icon .l2 {
	margin: 0px;
	padding: 0px;
	float: left;
}
#lineup_contents #lcw #icon {
	margin: 0px;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 615px;
}
#lineup_contents #lcw #icon .midashi {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}
#lineup_contents #lcw #icon li   {
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#lineup_contents #lcw #icon li a img{
	filter:alpha(opacity=100);
     -moz-opacity: 1.0;
     opacity: 1.0;
}

#lineup_contents #lcw #icon li a:hover img{
	filter:alpha(opacity=70);
     -moz-opacity: 0.7;
     opacity: 0.7;
}
#lineup_contents #lcw #icon .non {
	margin: 0px;
	padding: 0px;
}
#lineup_contents #lcw #icon .icon_cate {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#lineup_contents #lcw #icon .box1 {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 2px;
}
#lineup_contents #lcw #icon .box2 {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 2px;
}
#lineup_contents #lcw #icon .box3 {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 2px;
}
#lineup_contents #lcw #icon .box4 {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
#lineup_contents #lcw #icon .box5 {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 2px;
}
#lineup_contents #lcw .gathers_navi {
	margin: 0px;
	width: 615px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#lineup_contents #lcw .gathers_navi .left {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 302px;
}
#lineup_contents #lcw #link_up {
	margin: 0px;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 615px;
}
#lineup_contents #lcw #link_up .text_box {
	background-image: url(../images/luf.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 150px;
	margin-top: 0px;
}
#lineup_contents #lcw #link_up .text_box a img{
	filter:alpha(opacity=100);
     -moz-opacity: 1.0;
     opacity: 1.0;
}

#lineup_contents #lcw #link_up .text_box a:hover img{
	filter:alpha(opacity=70);
     -moz-opacity: 0.7;
     opacity: 0.7;
}
#lineup_contents #lcw #link_up .text_box .s150 {
	width: 400px;
	margin: 0px;
	padding: 0px;
}
#lineup_contents #lcw #link_up .text_box .xs150 {
	width: 400px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#lineup_contents #lcw #link_up .syousai1 {
	margin-top: 12px;
	margin-bottom: 10px;
}
#lineup_contents #lcw #link_up .left {
	float: left;
	width: 295px;
	margin: 0px;
	padding: 0px;
}
#lineup_contents #lcw #link_up .right {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 315px;
}
#lineup_contents #lcw .cate {
	margin: 0px;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
	width: 615px;
}
#lineup_contents #lcw .cate p {
	color: #333;
}
#lineup_contents #lcw .cate .waku_blue {
	border: 1px solid #a5c4e3;
	padding: 15px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #f7fcff;
}
#lineup_contents #lcw .cate .waku_green {
	border: 1px solid #99cc99;
	padding: 15px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #f7fff8;
}#lineup_contents #lcw .cate .title {
	float: left;
	margin: 0px;
	padding: 0px;
}
#lineup_contents #lcw .cate .syousai2 {
	float: right;
	margin: 0px;
	padding: 0px;
}
#lineup_contents #lcw .cate .syousai2 a img{
	filter:alpha(opacity=100);
     -moz-opacity: 1.0;
     opacity: 1.0;
}

#lineup_contents #lcw .cate .syousai2 a:hover img{
	filter:alpha(opacity=70);
     -moz-opacity: 0.7;
     opacity: 0.7;
}
#lineup_contents #lcw .cate .cos {
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#lineup_contents #lcw .cate .gotop {
	float: right;
	padding-top: 15px;
}
.cate .cont_a1 {
	background-image: url(../images/a1_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_a1 .l {
	padding: 0px;
	float: left;
	width: 187px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.cate .cont_a1 .c {
	padding: 0px;
	float: left;
	width: 240px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.cate .cont_a1 .r {
	margin: 0px;
	float: right;
	width: 128px;
	padding: 0px;
}
.cate .cont_a1 .l2 {
	padding: 0px;
	float: left;
	width: 380px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.cate .cont_a1 .l2 .left {
	float: left;
	width: 180px;
}
.cate .cont_a1 .l2 .right {
	float: right;
	width: 187px;
}

.cate .cont_a1 .r2 {
	margin: 0px;
	float: right;
	width: 180px;
	padding: 0px;
}
.cate .cont_a1 img {
	margin-top: 15px;
}
.cate .cont_a2 {
	background-image: url(../images/a2_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_a2 img {
	margin-top: 15px;
}
.cate .cont_a3 {
	background-image: url(../images/a3_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_a4 {
	background-image: url(../images/a4_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_a4 .l {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 306px;
}
.cate .cont_a4 .r {
	margin: 0px;
	float: right;
	width: 258px;
	padding: 0px;
}
.cate .cont_a4 img {
	margin-top: 15px;
}
.cate .cont_b1 {
	background-image: url(../images/b1_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_b1 .l {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 330px;
}
.cate .cont_b1 .r {
	margin: 0px;
	float: right;
	width: 240px;
	padding: 0px;
}
.cate .cont_b1 img {
	margin-top: 15px;
}
.cate .cont_b2 {
	background-image: url(../images/b2_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_b2 img {
	margin-top: 15px;
}
.cate .cont_b3 {
	background-image: url(../images/b3_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_b3 .l {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 236px;
}
.cate .cont_b3 .r {
	margin: 0px;
	float: right;
	width: 339px;
	padding: 0px;
}
.cate .cont_b3 img {
	margin-top: 15px;
}
.cate .cont_b4 {
	background-image: url(../images/b4_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_b4 img {
	margin-top: 15px;
}
.cate .cont_c1 {
	background-image: url(../images/c1_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_c1 .l {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 200px;
}
.cate .cont_c1 .l img {
	margin-top: 15px;
}
.cate .cont_c1 .r {
	margin: 0px;
	float: right;
	width: 220px;
	padding: 0px;
}
.cate .cont_c1 img  {
	margin-top: 15px;
}
.cate .cont_c1 .r p {
	margin-left: 20px;
	padding-left: 50px;
}
.cate .cont_c2 {
	padding-top: 0px !important;
	padding-top: 8px;
	margin-top: 0px;
	width: 585px;
}
.cate .cont_c2 .ma15 {
	margin-top: 15px;
}
.cate .cont_c2 .l {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 308px;
}
.cate .cont_c2 .l p {
	width: 300px;
	margin: 0px;
	padding: 0px;
}
.cate .cont_c2 .r {
	margin: 0px;
	float: right;
	width: 274px;
	padding: 0px;
}
.cate .cont_c3 {
	background-image: url(../images/c3_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_c3 .l {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 200px;
}
.cate .cont_c3 .l img {
	margin-top: 15px;
}
.cate .cont_c3 .r {
	margin: 0px;
	float: right;
	width: 361px;
	padding: 0px;
}
.cate .cont_d1 {
	background-image: url(../images/d1_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 0px;
	margin-top: 1px;
}
.cate .cont_d1 .l {
	margin: 0px;
	float: left;
	width: 319px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d1 .l img {
	margin-top: 15px;
}
.cate .cont_d1 .r {
	margin: 0px;
	float: right;
	width: 249px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d2 {
	background-image: url(../images/d2_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_d2 .l {
	margin: 0px;
	float: left;
	width: 276px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.cate .cont_d2 .r {
	margin: 0px;
	float: right;
	width: 276px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d2 img {
	margin-top: 15px;
}
.cate .cont_d3 {
	background-image: url(../images/d3_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_d3 .l {
	margin: 0px;
	float: left;
	width: 276px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d3 .r {
	margin: 0px;
	float: right;
	width: 294px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d3 img {
	margin-top: 15px;
}
.cate .cont_d4 {
	background-image: url(../images/d4_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_d4 img {
	margin-top: 15px;
}
.cate .cont_d5 {
	background-image: url(../images/d5_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_d5 img {
	margin-top: 15px;
}
.cate .cont_d6 {
	background-image: url(../images/d6_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_d6 img {
	margin-top: 0px;
}
.cate .cont_d10 {
	background-image: url(../images/d10_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 0px;
	margin-top: 1px;
}
.cate .cont_d13 {
	background-image: url(../images/d13_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	margin-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d12 {
	background-image: url(../images/d12_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	margin-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d12 img{
	margin-top: 12px;
}
.cate .cont_d11 {
	background-image: url(../images/d11_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	margin-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d11 img {
	margin-top: 12px;
}
.cate .cont_d10 .l {
	margin: 0px;
	float: left;
	width: 343px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d10 .l img {
	margin-top: 8px;
}
.cate .cont_d10 .r {
	margin: 0px;
	float: right;
	width: 220px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_d10 .r img {
	margin-top: 8px;
}
.cate .cont_e1 {
	background-image: url(../images/e1_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_e1 img {
	margin-top: 15px;
}
.cate .cont_e2 {
	background-image: url(../images/e2_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_e2 .l {
	margin: 0px;
	float: left;
	width: 235px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_e2 .r {
	float: right;
	width: 320px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.cate .cont_e2 .c {
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: right;
}
.cate .cont_e2 img  {
	margin-top: 15px;
}
.cate .cont_e3 {
	background-image: url(../images/e3_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_e3 .l {
	margin: 0px;
	float: left;
	width: 255px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_e3 .r {
	margin: 0px;
	float: right;
	width: 323px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.cate .cont_e3 .l img{
	margin-top: 15px;
}
.cate .cont_e4 {
	background-image: url(../images/e4_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_e4 img {
	margin-top: 15px;
}
.cate .cont_e8 {
	background-image: url(../images/e5_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 13px !important;
	padding-top: 8px;
	margin-top: 1px;
	width: 585px;
}
.cate .cont_linc {
	margin: 0px;
	padding: 0px;
	width: 585px;
}
.cate .cont_linc .l {
	float: left;
	width: 285px;
}
.cate .cont_linc .r {
	float: right;
	width: 285px;
}
.cate .cont_linc .l2 {
	float: left;
	width: 185px;
	margin-right: 15px;
}
.cate .cont_linc .cn2 {
	float: left;
	width: 185px;
}
.cate .cont_linc .r2 {
	float: right;
	width: 185px;
}
.syousai2 .mmt {
	margin-bottom: 10px;
}
#lineup_contents #lcw .gathers_navi .right {
	margin: 0px;
	float: right;
	width: 290px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#lineup_contents #lcw .cate .waku_blue_2 {
	border: 1px solid #a5c4e3;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #f7fcff;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#lineup_contents .EV {
	margin-bottom: 20px;
	width: 615px;
}
#lineup_contents .EV a img{
	filter:alpha(opacity=100);
     -moz-opacity: 1.0;
     opacity: 1.0;
}
#lineup_contents .EV a:hover img{
	filter:alpha(opacity=70);
     -moz-opacity: 0.7;
     opacity: 0.7;
}
#lineup_contents .EV .L {
	margin: 0px;
	padding: 0px;
	float: left;
}
#lineup_contents .EV .R {
	padding: 0px;
	float: right;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.mb20 {
	margin-bottom: 20px;
	margin-top: 10px;
}
